:root {
	--tc1: white;
	--bg1: #333;
	--bg2: #222;
	--dc1: #2481e0;
}
::-webkit-scrollbar {
	display: none;
}
* {
	margin: 0;
	padding: 0;
	border: 0;
	color: var(--tc1);
	font-family: Arial, Helvetica, sans-serif;
	list-style: none;
	text-decoration: none;
}

@font-face {
	font-family: "number";
	src: url("/fonts/number.otf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Handlee-Regular";
	src: url("/fonts/Handlee-Regular.ttf") format("truetype");
	font-weight: bolder;
	font-style: normal;
}
