version: "3.9"

services:
    app:
        build: .
        container_name: my-app
        ports:
            - "3000:3000"
            - "5000:5000"
        volumes:
            - ./backend:/app
            - /app/node_modules
            - ./frontend:/app
            - /app/node_modules
        restart: always
